<div style="height:200px; background-color: black;">

    <div style="height:200px">
         <div class="row">
             <div class="col-sm-5">

             </div>
             <div class="col-sm-7" >
                 <tr>
                     <td style="color: white;font-weight: bold;font: size 24px;padding-top:50%">
                        Subscribe to our mailing list
                     </td>
                 </tr>
                
            </div>
            </div>
            <div class="row">
                <div class="col-sm-5">
   
                </div>
                <div class="col-sm-7" >
                    <tr>
                        <td style="color: white;font-weight: bold; ">
                          <input type="text"style="width:200px" placeholder="Enter your email address">
                        </td>
                    </tr>
                   
               </div>

         </div>

    </div>


</div>