<p>all-user works!</p>
<div class="panel panel-default card-5">
    <div class=""> 
        <div class="panel-heading main-panel card-5" >
         <div style="padding-left:10px;">
            Admin Section
         </div>
           
         </div>

         <div class="panel-heading custom-panel card-5">
             <div >
             

                <table style="width:100%;" class="table  table-stripped">
                    <thead>
                        <tr style="background-color: gainsboro">
                                
                                <td style="width:10%" class="tdCss">
                                    First Name 
                                </td>
                                <td style="width:10%" class="tdCss">
                                    Last Name 
                                </td>
                                <td style="width:10%" class="tdCss">
                                    email 
                                </td>
                                <td style="width:10%" class="tdCss">
                                    mobileNumber
                                </td>
                                <td style="width:10%" class="tdCss">
                                    state
                                </td>
                                <td style="width:10%" class="tdCss">
                                    country
                                </td>
                                <td style="width:10%" class="tdCss">
                                interest
                                </td>
                                <td style="width:10%" class="tdCss">
                                    age
                                 </td>
                               <td style="width:10%" class="tdCss">
                                        loadOldFlag
                                </td>
                                <td style="width:10%" class="tdCss">
                                            address
                                </td>
    
    



                               
                                
                        </tr>
                    </thead>
                </table>
                </div>
                <div class="" style="height:500px;overflow-y: auto; border: 1px solid black">
                    <table style="width:100%;" class="table  table-stripped">
                    <tbody>
                        <tr *ngFor="let i of uDataList">

                         
                           
                            <td style="width:10%"  class="tdData">
                                {{ i.firstName}}
                            </td>
                            <td style="width:10%"  class="tdData">
                                {{ i.lastName}}
                            </td>
                            <td style="width:10%"  class="tdData">
                                {{ i.email}}
                            </td>
                            <td style="width:10%"  class="tdData">
                                {{ i.mobileNumber}}
                            </td>
                            <td style="width:10%"  class="tdData">
                                {{ i.state}}
                            </td>
                            <td style="width:10%"  class="tdData">
                                {{ i.country}}
                            </td>
                            <td style="width:10%"  class="tdData">
                                {{ i.interest}}
                            </td>
                            <td style="width:10%"  class="tdData">
                                {{ i.age}}
                            </td>
                            <td style="width:10%"  class="tdData">
                                {{ i.loadOldFlag}}
                            </td>
                            <td style="width:10%"  class="tdData">
                                {{ i.address}}
                            </td>
                            
                            
                            
                    </tr>
            
                    </tbody>
            
            
                </table>
              <div>
         </div>
    </div>
    
   
  </div>
