<p>profile works!</p>
<div class="row" style="height: 500px">

       
    <div class="col-sm-4">
        <tr>
            <td style="padding: 10px; ">
                <img [src]="stData.image" height=150 width=150>
            </td>
        </tr>
       
            <tr>
                <td>
                    <button mat-raised-button color="success"  style="background-color: yellow;"  type="submit"   (click)="callRegistrationPopUp()"  >Edit Photo</button>
               &nbsp; &nbsp;     <button mat-raised-button color="success"  style="background-color: yellow;"   type="submit"  (click)="callRegistrationPopUp()"  >Edit Profile</button>
                </td>
            </tr>
           
 
    </div>



    <div class="col-sm-8">
        <p style="font-size: 16px;">
        I am {{ stData.firstName}} and I'm above {{ stData.age}} years and 
        you can send your emails to 
        {{stData.email}}. I live in the state of {{ stData.state}}.
        I like to play {{ stData.interest }} And please send me newsletters.
        Please reach out to me on my phone number {{ stData.mobileNumber}}
        </p>

        <p>

            <button mat-raised-button style="background-color: greenyellow;"  type="submit"    >Agree</button>
        </p>
        </div>


 </div>