
<div  class="backPage"> 
    <div class="row">
        
        <div class="col-sm-4">
            <h1 class="text-danger  text-bold " style="  padding-left : 30px;">  Demo App</h1> 
        </div>
        <div class="col-sm-12">
            <h1 class="text-danger  text-bold " style="  padding-left : 30px;">  </h1> 
        </div>
    </div>
    <br/> 
    <div style="height: 500px; ">

        <div style="height: 200px; ">

        </div>
        <div>
            <div class="container">  
                <div class="row">
                    <div class="col-sm-2"> 
                    </div>
                    <div class="col-sm-6" style="font-size: 30px;color:white">
                        I am looking for...
                    </div>
                    <div class="col-sm-2">
                       
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-sm-2"> 
                    </div>
                    <div class="col-sm-6">
                        <input   placeholder="enter your a job discription"    style=" width:100%;" autocomplete="off" >  
                    </div>
                    <div class="col-sm-4">
                        <button >Search</button>
                    </div>
                </div>
                    <br/>
                <div class="row">
                    <div class="col-sm-2"> 
                    
                    </div>
                    <div class="col-sm-4">
                        <input type="checkbox"> Full Time
                        <input type="checkbox"> Part Time / Casual / Free Lance
                        
                    </div>
                    <div class="col-sm-2">
                        <select   placeholder="Select Location"     style=" width:100%;"  autocomplete="off" > 
                            <option> Select  your Location</option> 
                            <option> India</option> 
                            <option> America</option> 
                            <option> Austrelia</option> 
                            <option> England</option> 
                            </select>
                    </div>
                    
                </div>
                    
              
              </div>
        </div>

    </div>
    <!-- <div class="slidersec">
        <div class="sliderimage">
                <ngb-carousel> 
                    <ng-template ngbSlide>
                        <div class="picsum-img-wrapper">
                            <img src="/assets/newSet/003.jfif" alt="Random first slide"   height="450" width="1200">
                        
                        </div>
                    </ng-template> 
                    <ng-template ngbSlide>
                        <div class="picsum-img-wrapper">
                            <img src="/assets/newSet/004.jfif" alt="Random first slide"   height="450" width="1200">
                        </div>
                    </ng-template> 
                    <ng-template ngbSlide>
                        <div class="picsum-img-wrapper">
                            <img src="/assets/newSet/001.jfif" alt="Random first slide"   height="450" width="1200">
                        </div>
                    </ng-template>  
                </ngb-carousel> 
            </div>  
    </div>   -->
    <br/> 
    <div  class="  text-center">
        <button mat-raised-button color="accent"  type="submit" (click)="openDialog()"   >Register</button>
    </div>

    <br/>
    <br/>  <br/>
    <br/>
 
</div>



 