

<div style="background-color: dodgerblue;">
    <div> 
        <button class="pull-right xm" (click)="onNoClick()">    <i class="fa fa-times  " aria-hidden="" ></i></button> 
    </div>
    
    <div>
    <tr>
          <td style="padding:10px;font-weight: bold;color: white;font-size:medium"> 
            Edit 

        </td>
    </tr>
</div> 
</div>

<div style="border: 2px solid grey">
    <form [formGroup]="registrationForm">
    <div class="row">

       
        <div class="col-sm-4">
            <tr>
                <td style="padding: 10px; ">
                    <img [src]="imagePreview" height=150 width=150>
                </td>
            </tr>
            <tr>
                <td>
                    <a (click)="filePicker.click()" style=" padding-left:15px;text-decoration: underline;">Upload your Image</a>
                    <input type="file" #filePicker (change)="onImagePicked($event)"     hidden="true">
                    <mat-error  style=" padding-left:15px;" *ngIf="imageValidation">Please Upload image.  </mat-error>
                    <mat-error  style=" padding-left:15px;" *ngIf="imageSizeValidation">Please Upload image less than 300 * 325 px.  </mat-error>
                

                </td>

            </tr>
        </div>


        <div class="col-sm-8">
            <!-- Form Data Start-->
            
                <br/>
              <div class="example-container">
                <mat-form-field  appearance="fill"> 
                  <input matInput #input maxlength="20" placeholder="First Name"
                  formControlName="firstName" 
                  autocomplete="off"
                  > 
                  <mat-error *ngIf="registrationForm.get('firstName').invalid">First Name should contain alphabets and length not more than 20 characters.</mat-error>
                
                </mat-form-field>

                <mat-form-field  appearance="fill"> 
                    <input matInput #input maxlength="10" placeholder="Last Name"
                    formControlName="lastName" 
                    autocomplete="off"
                    >
                    <mat-error *ngIf="registrationForm.get('lastName').invalid">Please enter a Last Name.</mat-error>
                </mat-form-field> 
              </div>



              <div class="example-container">

                <mat-form-field class="example-full-width" appearance="fill" style="width:90%">
                     <input matInput placeholder="Email"      formControlName="email" 
                     autocomplete="off" >
                     <mat-error *ngIf="registrationForm.get('email').invalid">Please enter a Valid Email Id.</mat-error>
                </mat-form-field> 
              </div>

              <div class="example-container">
                 <mat-form-field class="example-full-width" appearance="fill" style="width:90%">
                    <span matPrefix>+91 &nbsp;</span>
                    <input matInput placeholder="Mobile Number"  
                    formControlName="mobileNumber" 
                    autocomplete="off"
                     >
                    <mat-error *ngIf="registrationForm.get('mobileNumber').invalid">Please enter a Mobile Number</mat-error>
                  </mat-form-field> 
              </div>

              <div class="example-container">
                <span matPrefix>Age &nbsp;</span>
                <mat-slider 
                        thumbLabel
                        [displayWith]="formatAge"
                        tickInterval="1"
                        step="1"
                        min="20"
                        max="60"
                        aria-label="Yr"
                        formControlName="ageValue" 
                        
                        >
                      
                </mat-slider>
                <mat-error *ngIf="registrationForm.get('ageValue').invalid && formSubmitFlag == true ">Please enter a Age</mat-error>
            </div>

            <div class="example-container">
                <mat-form-field appearance="fill" style="width:90%">
                    <mat-label>State</mat-label>
                    <mat-select formControlName="stateVal">
                       
                      <mat-option value="{{i}}" *ngFor="let i of stateArr">{{i}}</mat-option>
                    </mat-select> 
                  </mat-form-field>
                  <mat-error *ngIf="registrationForm.get('stateVal').invalid && formSubmitFlag == true ">Please select State.</mat-error> 
             </div>

             <div class="example-container">
                <mat-form-field appearance="fill" style="width:90%">
                    <mat-label>Country</mat-label>
                    <mat-select  formControlName="countryVal"> 
                      <mat-option value="{{i}}" *ngFor="let i of countryArr" >{{i}}</mat-option>
                    </mat-select> 
                    <mat-error *ngIf="registrationForm.get('countryVal').invalid">Please enter Country</mat-error>
                  </mat-form-field> 
             </div>

             <div class="example-container">
                <mat-form-field class="example-full-width" appearance="fill" style="width:90%">
                     <input matInput placeholder="Address"   formControlName="address"  autocomplete="off" >
                     <mat-error *ngIf="registrationForm.get('address').invalid">Please enter Address</mat-error>
                </mat-form-field> 
              </div>

              <div class="example-container">

                <mat-form-field class="example-chip-list">
                    <mat-label>Tags</mat-label>
                    <mat-chip-list #chipList aria-label="Fruit selection">
                        

                      <mat-chip
                        *ngFor="let i of tags"
                        [selectable]="selectable"
                        [removable]="removable"
                        (removed)="remove(i)">
                        {{i}}
                        <mat-icon matChipRemove *ngIf="removable"> <i class="fa fa-times  " aria-hidden="" ></i></mat-icon>
                      </mat-chip>
                      <input
                        placeholder="Tags..."
                        #tagInput
                        [formControl]="tagsCtrl"
                        [matAutocomplete]="auto"
                        [matChipInputFor]="chipList"
                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                        (matChipInputTokenEnd)="add($event)">
                     
                    </mat-chip-list>
                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                      <mat-option *ngFor="let jj of filteredTags | async" [value]="jj">
                        {{jj}}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
              </div>
 

              <div>
                <section class="example-section">
                    <mat-checkbox class="example-margin"  >Subscribe for More Updates</mat-checkbox>
                   </section>
              </div>
              
              <div class="example-container">
               
                <button mat-raised-button style="text-align: center;" (click)="onNoClick()">Cancel</button> 
                <button mat-raised-button color="accent" style="text-align: right;" (click)=" submit()" >Edit</button>
                </div>

                <br/>
            <!-- Form Data End-->
            </div>


        
      </div>
    </form>
</div>